#page_bg {
	margin:0;
	padding: 0;
	margin-bottom: 1px;
}


/* template position */
div#wrapper_left {
	margin-left: 0;
	margin-right: auto;
}

div#wrapper_center {
	margin-left: auto;
	margin-right: auto;
	margin-bottom:20px;
}
div#wrapper_right {
	margin-left: auto;
	margin-right: 0;
}



/* template width */
body.width_medium div#wrapper_right ,body.width_medium div#wrapper_left ,body.width_medium div#wrapper_center {
	width: 950px;
}

body.width_small div#wrapper_right ,body.width_small div#wrapper_left ,body.width_small div#wrapper_center {
	width: 800px;
}

body.width_fluid div#wrapper_right ,body.width_fluid div#wrapper_left ,body.width_fluid div#wrapper_center {
	width: 800px;
}